<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-2">

          <p>We are part of the <a href="https://www.gla.ac.uk/schools/computing/">School of Computing Science</a> at the <a href="https://www.gla.ac.uk/"> University of Glasgow.</a></p>

		</div>

		<div class="col-2">
			Contact:<br />
			Sir Alwyn Williams Building<br />
			University of Glasgow<br />
			Glasgow G12 8RZ<br />
			SCOTLAND<br />
			United Kingdom<br />
            (<a href="https://maps.app.goo.gl/G59E28RJ5jr2ZYK56">Maps</a>, <a href="https://www.gla.ac.uk/schools/computing/contact/">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
