---
layout: default
---

  <div id="homeid" class="col-sm-8">

    <!-- <figure>
    <img src="{{ site.url }}{{ site.baseurl }}/images/B.png" width="15%">
    <img src="{{ site.url }}{{ site.baseurl }}/images/I.png" width="15%">
    <img src="{{ site.url }}{{ site.baseurl }}/images/O.png" width="15%">
    <img src="{{ site.url }}{{ site.baseurl }}/images/A.png" width="15%">
    <img src="{{ site.url }}{{ site.baseurl }}/images/I.png" width="15%">
    </figure> -->


        <h2>Welcome to the BioAI Research Group</h2>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
